# Arquivos compilados do Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Arquivos do sistema
.DS_Store

# Arquivos de visualização e projetos temporários
*.dot
*.btproj

# Configurações do Editor (VS Code)
.vscode/